.fondo{
    width: 1440px;
    height: 1024px;
    background: #FFF5D7;
    display: flex;
}

.imagen1{
    position: absolute;
    flex-shrink: 0;
    margin: 400px 0 0 330px;
    height: 630px;
}

.imagen2{
    position: absolute;
    width: 600px;
    height: 580px;
    flex-shrink: 0;
    margin: 500px 450px 0;

}

.imagen3{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.titulo{
    margin: 100px auto 0;
    width: 613px;
    text-align: center;
    font-family: Histora Beralin;
    font-size: 96px;
    line-height: 90.5%; /* 86.88px */
    letter-spacing: 6.72px;
}

.subtitulo{
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1.2px;
}

.blanco{
    position: absolute;
    display: flex;
    width: 211px;
    height: 66px;
    border-radius: 40px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 20px;
    margin: 40px 190px 0;
    padding: 20px 55px
}

.amarillo{
    position: absolute;
    display: flex;
    width: 49px;
    height: 49px;
    padding: 9px 8px 8px 9px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F2C94C;
    margin: 700px -200px 0;
    
}

.textamarillo{
    width: 165px;
    color: #000;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.78px;
}

.rojo{
    
}

.azul{
    
}
