.fondo{
    width: 1440px;
    height: 1024px;
    background: #FFF5D7;
    display: flex;
}

.titulo{
    margin: 100px auto 0;
    width: 613px;
    text-align: center;
    font-family: Histora Beralin;
    font-size: 96px;
    line-height: 90.5%; /* 86.88px */
    letter-spacing: 6.72px;
}

.subtitulo{
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1.2px;
}

.amarillo{
    margin: 100% auto 0; 
    width: 686px;
    height: 819px;
    flex-shrink: 0;
    fill: #FAC52F;
}

.blanco{
    margin: 40px auto 0;
    display: flex;
    width: 211px;
    height: 66px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #000;
    background: #FFF;
}

.texto{
    margin: -5% 22% 0%;
    color: #000;
    font-size: 20px;
    letter-spacing: normal;
}