.fondo{
    width: 1440px;
    height: 1024px;
    background: #FFF5D7;
    display: flex;
}

.imagen1{
    position: absolute;
    flex-shrink: 0;
    margin: 400px 0 0 330px;
    height: 630px;


}

.titulo{
    margin: 100px auto 0;
    width: 613px;
    text-align: center;
    font-family: Histora Beralin;
    font-size: 96px;
    line-height: 90.5%; /* 86.88px */
    letter-spacing: 6.72px;
}

.subtitulo{
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1.2px;
}

.blanco{
    position: absolute;
    display: flex;
    width: 211px;
    height: 66px;
    border-radius: 40px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 20px;
    margin: 40px 190px 0;
    padding: 20px 55px
}
